apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
      - name: adservice
        image: gcr.io/google-samples/microservices-demo/adservice:v0.10.2
        ports:
        - containerPort: 9555
