apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendation
  template:
    metadata:
      labels:
        app: recommendation
    spec:
      containers:
      - name: recommendation
        image: gcr.io/google-samples/microservices-demo/recommendationservice:v0.10.2
        ports:
        - containerPort: 8080
