apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currency
  template:
    metadata:
      labels:
        app: currency
    spec:
      containers:
        - name: currency
          image: gcr.io/google-samples/microservices-demo/currencyservice:v0.10.0
          ports:
            - containerPort: 7000
